{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<nav>
    <div class="nav-wrapper teal">
        <a href="#" class="brand-logo">Pavu Jett Online Book Store</a>
        <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/home"><i class="material-icons left">store</i>Home</a></li>
            <li><a href="/account"><i class="material-icons left">person</i>Account</a></li>
            <li><a href="/shopping_cart"><i class="material-icons left">shopping_cart</i>Cart</a></li>
        </ul>
    </div>
    <ul class="sidenav" id="mobile">
        <li><a href="/home"><i class="material-icons left">store</i>Home</a></li>
        <li><a href="/account"><i class="material-icons left">person</i>Account</a></li>
        <li><a href="/shopping_cart"><i class="material-icons left">shopping_cart</i>Cart</a></li>
    </ul>
</nav>

<head>
    <meta charset="UTF-8">
    <title>Book Browsing</title>
</head>

<link rel="stylesheet" href="{% static 'frontend/styles.css' %}">

<body>
    <!-- First Row of the Page-->
    <div class="row">
        <div class="col s12 m4 l2 white" id="sidenav" style="height: auto">
            <ul class="menu">
                <li class="title" style="font-size: 1.50em">Sort By:</li>
                <li class="divider"></li>
                <li class="title"><a href="#" style="color: teal "><i class="material-icons left" style="font-size: 20px">sort_by_alpha</i>Title</a></li>
                <li class="title"><a href="#" style="color: teal"><i class="material-icons left" style="font-size: 20px">person_outline</i>Author</a></li>
                <li class="title"><a href="#" style="color: teal"><i class="material-icons left" style="font-size: 20px">attach_money</i>Price</a></li>
                <li class="title"><a href="#" style="color: teal"><i class="material-icons left" style="font-size: 20px">star</i>Book Rating</a></li>
                <li class="title"><a href="#" style="color: teal"><i class="material-icons left" style="font-size: 20px">date_range</i>Release Date</a></li>
            </ul>
        </div>
        <!-- First Column Book of the Page-->
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                  <img class="activator" src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9780/4711/9780471117094.jpg" style="width:240px;height:240px;">
                  <span class="card-title">Book Title</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ante eros,
                                                tincidunt
                                                vitae tellus quis, euismod pharetra felis.....
                  </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Book Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
        <!-- Second Column Book of the Page-->
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                  <img class="activator" src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9780/2620/9780262039253.jpg" style="width:240px;height:240px;">
                  <span class="card-title">Book Title</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ante eros,
                                                tincidunt
                                                vitae tellus quis, euismod pharetra felis.....
                  </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Book Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
        <!-- Third Column Book of the Page-->
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                  <img class="activator" src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9781/4051/9781405196864.jpg" style="width:240px;height:240px;">
                  <span class="card-title">Book Title</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ante eros,
                                                tincidunt
                                                vitae tellus quis, euismod pharetra felis.....
                  </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Book Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Second Row of the Page-->
    <div class="row">
        <div class="col s12 m4 l2 white" id="sidenav" style="height: auto">
        </div>
        <!-- First Column Book of the Page-->
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                  <img class="activator" src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9780/5228/9780522873313.jpg" style="width:240px;height:240px;">
                  <span class="card-title">Book Title</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ante eros,
                                                tincidunt
                                                vitae tellus quis, euismod pharetra felis.....
                  </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Book Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
        <!-- Second Column Book of the Page-->
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                  <img class="activator" src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9781/9160/9781916081604.jpg" style="width:240px;height:240px;">
                  <span class="card-title">Book Title</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ante eros,
                                                tincidunt
                                                vitae tellus quis, euismod pharetra felis.....
                  </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Book Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
        <!-- Third Column Book of the Page-->
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                  <img class="activator" src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9781/5937/9781593764265.jpg" style="width:240px;height:240px;">
                  <span class="card-title">Book Title</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ante eros,
                                                tincidunt
                                                vitae tellus quis, euismod pharetra felis.....
                  </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Book Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Third Row of the Page-->
     <div class="row">
        <div class="col s12 m4 l2 white" id="sidenav" style="height: auto">
        </div>
         <!-- First Column Book of the Page-->
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                  <img class="activator" src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9780/5968/9780596807733.jpg" style="width:240px;height:240px;">
                  <span class="card-title">Book Title</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ante eros,
                                                tincidunt
                                                vitae tellus quis, euismod pharetra felis.....
                  </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Book Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
         <!-- Second Column Book of the Page-->
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                  <img class="activator" src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9780/0717/9780071780285.jpg" style="width:240px;height:240px;">
                  <span class="card-title">Book Title</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ante eros,
                                                tincidunt
                                                vitae tellus quis, euismod pharetra felis.....
                  </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Book Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
         <!-- Third Column Book of the Page-->
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                  <img class="activator" src="https://d1w7fb2mkkr3kw.cloudfront.net/assets/images/book/mid/9781/4736/9781473610279.jpg" style="width:240px;height:240px;">
                  <span class="card-title">Book Title</span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ante eros,
                                                tincidunt
                                                vitae tellus quis, euismod pharetra felis.....
                  </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Book Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Pages Shown -->
    <ul class="pagination">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active teal"><a href="#!">1</a></li>
        <li class="waves-effect "><a href="#!">2</a></li>
        <li class="waves-effect "><a href="#!">3</a></li>
        <li class="waves-effect "><a href="#!">4</a></li>
        <li class="waves-effect "><a href="#!">5</a></li>
        <li class="waves-effect "><a href="#!"><i class="material-icons">chevron_right</i></a></li>
     </ul>

    <!-- Footer -->
     <footer class="page-footer teal">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Pavu Jett™ Book</h5>
                <p class="grey-text text-lighten-4">Thank you for visiting our page for the books in our store!</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2020 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">Pavu Jett™</a>
            </div>
          </div>
        </footer>

</body>


<link rel="stylesheet" href="{% static 'frontend/materialize.css' %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script src="{% static 'frontend/main.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{% static 'frontend/materialize.js' %}"></script>
<script>
    // Side Nav
    $(document).ready(function () {
        $('.sidenav').sidenav();
    });
</script>

</html>