<!DOCTYPE html>
<html lang="en">
<nav>
    <div class="nav-wrapper teal">
        <a href="#" class="brand-logo">Pavu Jett Online Book Store</a>
        <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/home"><i class="material-icons left">store</i>Home</a></li>
            <li><a href="/account"><i class="material-icons left">person</i>Account</a></li>
            <li><a href="/shopping_cart"><i class="material-icons left">shopping_cart</i>Cart</a></li>
        </ul>
    </div>
    <ul class="sidenav" id="mobile">
        <li><a href="/home"><i class="material-icons left">store</i>Home</a></li>
        <li><a href="/account"><i class="material-icons left">person</i>Account</a></li>
        <li><a href="/shopping_cart"><i class="material-icons left">shopping_cart</i>Cart</a></li>
    </ul>
</nav>

<head>
    <meta charset="UTF-8">
    <title>Book Descriptions</title>
</head>
<body>


</body>
</html>